<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ static_url('style.css') }}">
</head>
<body>
<form action="/" method="post" class="smart-green">
    <h1>留言信息
        <span>请留下你的信息.</span>
    </h1>
    {% autoescape None %}
    {% for field in message_form %}
    <label>
        <span>{{ field.label.text }}</span>
        {{ field(placeholder="请输入"+field.label.text) }}
        <div class="error-msg">
            {% if field.errors %}
                {% for error in  field.errors %}
                    {{ error }}
                {% end %}
            {% end %}
        </div>
    </label>
    {% end %}
    <div class="success-msg"></div>
    <label>
        <span>&nbsp;</span>
        <input type="submit" class="button" value="提交"/>
    </label>
</form>

</body>
</html>